body {
    background-color: aliceblue;
    font-family: Verdana, Tahoma, sans-serif;
    color:#190000; 
}

#slika {

        border-radius: 50%;
}

h3{
    color:#660000;
   
}



.tablica {
    border: 2px solid ;
    border-color: rgb(1, 1, 49);
    border-collapse: collapse;
  }


  .title {
    height: 2em;
    margin-left: 5em;

  }
  

#poveznice {

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
 


 
